<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://yangjian.me" target="_blank" title="YangJian">Alimon's Blog</a></li>
      <li><a href="http://hexo.io" target="_blank" title="Hexo">Hexo</a></li>
      <li><a href="https://se77en.cc/" target="_blank" title="se77en">se77en</a></li>
      <li><a href="https://eli.im/" target="_blank" title="Eli's Blog">Eli's Blog</a></li>
    </ul>
</div>
